body {
	box-sizing: border-box;
	background-color: #f9f9fb;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body, button, input, textarea {
  font-family: Segoe UI, sans-serif;
  font-size: 15px;
}
input, button {
	border-radius: 4px;
    border: 1px solid darkgray;
    outline: 0;
}
#crdialog input {
    width: 100%;
    box-sizing: border-box;
}
#crdialog label {
    font-size: 0.75em;
}
#lgind {
    margin-bottom: 10px;
}
#lginl {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    font-size: .9em;
    text-decoration: none;
    font-weight: bold;
    color: indianred;
    cursor: pointer;
    z-index: 1;
    outline: 0;
}
#confinput {
	display: none;
}
fieldset {
	float: left;
	background-color: #f1f1f1;
	border-radius: .3em;
	border: 1px solid dodgerblue;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.22);
}
legend {
	background-color: dodgerblue;
	padding: .3em .5em;
	color: white;
	border-radius: .3em;
	font-size: .85em;
	text-align: left;
}
button {
	border-color: transparent;
	font-size: 14px;
	letter-spacing: 0.5px;
	min-height: 36px;
	width: 115px;
	margin: 5px;
	position: relative;
	display: inline-block;
}
button:hover:not(:disabled) {
	background-color: blue;
	color: white;
}
button:disabled {
	cursor: no-drop;
	pointer-events:none;
}
input:hover {
	border-color: cornflowerblue;
}
.browser-style .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
}
.browser-style .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.browser-style:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#clientn {
	visibility: collapse;
}
.clients {
	visibility: visible !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#logsave {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z' /%3E%3C/svg%3E");
}
#logclear {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z' /%3E%3C/svg%3E");
}
.cframe {
    width: calc(100% - 30px);
    border: 0;
    height: calc(100% - 150px);
    position: absolute;
}
#logarea {
	background: white;
	border: 1px solid gainsboro;
	overflow: hidden;
	max-width: 700px;
	width: 100%;
	margin-top: 30px;
	position: initial;
	height: 100%;
}
#logarea body {
	white-space: pre;
	font-family: consolas, courier;
	font-size: 0.9em;
	background: white;
	padding: 10px;
	overflow: auto;
	width: 100%;
	position: inherit;
	height: calc(100% - 30px);
}
h1 img {
	vertical-align: bottom;
	margin-right: 10px;
	margin-bottom: -5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    white-space: nowrap;
    margin-top: 10px;
}
span.lbl {
    padding-left: 30px;
    margin-top: -1px;
    position: absolute;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal button {
	width: 44%;
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
}
.modal button:hover {
	background-color: blue;
	color: white;
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 350px;
	border-radius: 5px;
}
.close {
    color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	margin-top: -0.5em;
	margin-right: -0.4em;
}
.mtext {
	padding-top: 10px;
	position: relative;
	display: block;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ocontainer {
	display: block;
	text-align: center;
	padding: 10px;
}
.btnc .toptionc {
	display: contents;
}
.toptionc {
	position: relative;
	text-align: left;
}
.toptionb {
    display: inline-block;
    visibility: collapse;
}
#changelog {
	overflow: auto;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 95px;
	bottom: 0px;
	padding: 5px 30px;
	font-family: Consolas, Courier, Monospace;
}
.tab-bar button {
	border-radius: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: calc(100% / 3);
	float: left;
	min-height: unset;
	height: 25px;
}
.tab-bar button:hover {
	background-color: darkgrey;
}
.tab-button > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	display: block;
	padding: 0 3px;
}
.abutton {
	background-color: DimGray !important;
	color: white;
}
.tab-bar {
	box-shadow: 0px 0px 0px 1px #20123a0a, 0px 1px 2px 0px #2200330a, 0px 2px 1px -1px #0730721f, 0px 1px 6px 0px #0e0d1a1f;
	margin-bottom: 10px;
}
h1 {
	margin-top: 0;
	padding: 5px 20px 0;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 10px;
}
.otabs {
	padding: 0;
	max-width: 700px;
	width: 100%;
	height: calc(100% - 84px);
	position: absolute;
	top: 84px;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.server .toptionc {
	display: block;
	white-space: nowrap;
	width: 100%;
}
.server .toptionc label {
	text-align: left;
	display: block;
	font-size: 0.75em;
}
.server .toptionc input {
	display: flex;
	width: 100%;
}
.server div {
	margin: 6px 0;
}
.exp_content {
	background-color: #f1f1f1;
	transition: max-height 0.2s ease-out;
	max-height: 0;
	overflow: hidden;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-top: 0;
	margin-left: 10px;
	width: calc(100% - 17px);
}
.exp_content.active {
	border: 1px solid dodgerblue;
	border-top: 0;
}
.collapsible {
	text-align: left;
	font-size: .8em;
	letter-spacing: unset;
	margin: unset;
	min-height: unset;
	width: calc(100% - 15px);
	margin-left: 10px;
}
.collapsible::after {
	content: '\002B';
	float: right;
}
.collapsible.active::after {
	content: "\2212";
}
.collapsible.active {
	background-color: dodgerblue;
	color: white;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.collapsible:hover {
	background-color: dimgray !important;
}
#wmessage {
    visibility: hidden;
    min-width: 250px;
    background-color: transparent;
    color: #555;
    text-align: center;
    padding: 16px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 8px 6px -6px #888;
    max-width: 700px;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
#wmessage.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}
#toolbar {
	background: whitesmoke;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 30px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid gainsboro;
}
#toolbar li {
	height: 30px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 5px;
	padding: 0 10px 0 30px;
	list-style: none;
	float: left;
	background-color: ghostwhite;
	position: relative;
	line-height: 30px;
	border-right: 1px solid gainsboro;
}
#toolbar li:hover {
	background-color: dodgerblue;
}