body {
	box-sizing: border-box;
	background-color: #f9f9fb;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body, button, input, textarea {
  font-family: Segoe UI, sans-serif;
  font-size: 15px;
}
input, button {
	border-radius: 4px;
    border: 1px solid darkgray;
    outline: 0;
}
#wdurl {
    display: inline-block;
    width: calc(100% - 90px);
}
#blogin {
    width: 75px;
    min-height: 29px;
}
.btm {
	width: 50%;
	display: flow-root;
}
button#lgin {
    margin-top: .7em;
    margin-right: 0;
}
#crdialog input {
    width: 100%;
    box-sizing: border-box;
	margin-bottom: 1em;
	padding: 0.25em 0.4em;
}
#crdialog label {
    font-size: 0.75em;
}
#lgini {
    background-color: bisque;
    display: none;
    border-radius: .3em;
    padding: .3em .5em;
    border: 1px solid;
    border-color: burlywood;
    color: firebrick;
    font-size: .8em;
}
#ipinfo {
    background: burlywood;
    padding: 0.1em 0.3em;
    border-radius: .4em;
}
.iiinfo {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: .95em;
	padding-top: .5em;
}
#lgind {
    margin-bottom: 10px;
}
#lginl {
    visibility: hidden;
    left: calc(50% + .2em);
    font-size: .9em;
    text-decoration: none;
    color: #fcffe2;
    cursor: pointer;
    z-index: 1;
    outline: 0;
    width: calc(100% - 90px);
    border-radius: .3em;
    border: thin solid #f44336;
    background-color: #ff9800;
    top: 3.3em;
    position: absolute;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 0px 1px #20123a0a, 0px 1px 2px 0px #2200330a, 0px 2px 1px -1px #0730721f, 0px 1px 6px 0px #0e0d1a1f;
    line-height: 1.3em;
}
#blogin.loading {
    background: repeating-linear-gradient(-45deg, #3498db 0 15px, #2980b9 0 20px) left/200% 100%;
    animation: i3 4s infinite linear;
}
@keyframes i3 {
	100% {background-position:right}
}
#confinput {
	display: none;
}
fieldset {
	padding: 10px 30px !important;
	border: 1px solid transparent;
}
legend {
	background-color: #daeff7;
	padding: .1em .3em;
	color: #3498db;
	border-radius: .3em;
	font-size: .85em;
	text-align: left;
	border: thin solid;
	margin-left: -20px;
	border-color: #b1d3f4;
}
button {
	border-color: transparent;
	font-size: 14px;
	letter-spacing: 0.5px;
	min-height: 36px;
	width: 115px;
	margin: 5px;
	position: relative;
	display: inline-block;
	transition: all 0.3s;
	cursor: pointer;
}
button:hover:not(:disabled) {
	background-color: #2980b9;
	color: white;
}
button:disabled {
	cursor: no-drop;
	pointer-events:none;
}
input:hover {
	border-color: cornflowerblue;
}
.browser-style .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #fcffe2;
    color: #220033;
    text-align: center;
    padding: .4em;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
    display: inline-block;
	box-shadow: 0px 0px 0px 1px #20123a0a, 0px 1px 2px 0px #2200330a, 0px 2px 1px -1px #0730721f, 0px 1px 6px 0px #0e0d1a1f;
}
.browser-style .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fcffe2 transparent transparent transparent;
}
.browser-style:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#clientn {
	visibility: collapse;
}
.clients {
	visibility: visible !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#logsave {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z' /%3E%3C/svg%3E");
}
#logclear {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z' /%3E%3C/svg%3E");
}
.wdurl {
    position: absolute;
    top: 25px;
    right: 85px;
}
#wdurl.valid {
    border-color: limegreen;
    background-color: honeydew;
    color: green;
}
#wdurl.invalid {
    border-color: orangered;
    background-color: bisque;
    color: red;
}
.wdurl.valid:after {
    content: '✓';
    color: limegreen;
}
.wdurl.invalid:after {
    content: '×';
    color: red;
}
.cframe {
    width: calc(100% - 30px);
    border: 0;
    height: calc(100% - 150px);
    position: absolute;
}
#toolbar > label {
    position: absolute;
    right: .5em;
    line-height: 2em;
}
#logarea {
	background: white;
	border: 1px solid gainsboro;
	overflow: hidden;
	max-width: 700px;
	width: 100%;
	margin-top: 38px;
	position: initial;
	height: calc(100% - 10px);
}
#logarea body {
	white-space: pre;
	font-family: consolas, courier;
	font-size: 0.9em;
	background: white;
	padding: 10px;
	overflow: auto;
	width: 100%;
	position: inherit;
	height: calc(100% - 30px);
}
h1 img {
	vertical-align: bottom;
	margin-right: 10px;
	margin-bottom: -5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    white-space: nowrap;
    margin-top: 10px;
}
span.lbl {
    padding-left: 30px;
    margin-top: -1px;
    position: absolute;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
button:not(:disabled) {
    background-color: #3498db;
    color: white;
}
.modal button {
    width: 44%;
    margin-left: 10px;
    margin-top: 20px;
    transition: all 0.3s;
}
.modal button:hover {
	background-color: #2980b9;
	color: white;
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 350px;
	border-radius: 5px;
	box-shadow: 0.3em 0.3em 0.3em 0 rgb(0 0 0 / 35%);
}
.close {
    color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	margin-top: -0.5em;
	margin-right: -0.4em;
}
.mtext {
	padding-top: 10px;
	position: relative;
	display: block;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ocontainer {
	display: block;
	text-align: center;
	background-color: white;
	margin: 15px;
	padding: 30px;
	box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
	border-radius: 8px;
}
.btnc .toptionc {
	display: contents;
}
.toptionc {
	position: relative;
	text-align: left;
}
#cimport {
    width: 100%;
    height: 32px;
    border-radius: 5px;
    outline: 0;
    border-color: darkgray;
}
#changelog {
	overflow: auto;
	position: absolute;
	right: 0px;
	left: 0px;
	top: 95px;
	bottom: 0px;
	padding: 5px 30px;
	font-family: Consolas, Courier, Monospace;
}
.tab-bar button {
	border-radius: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: calc(100% / 3);
	float: left;
	min-height: unset;
	height: 25px;
	background-color: whitesmoke;
	color: unset;
}
.tab-bar button:hover {
	background-color: darkgrey;
}
.tab-button > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	display: block;
	padding: 0 3px;
}
.abutton {
	background-color: DimGray !important;
	color: white !important;
}
.tab-bar {
	box-shadow: 0px 0px 0px 1px #20123a0a, 0px 1px 2px 0px #2200330a, 0px 2px 1px -1px #0730721f, 0px 1px 6px 0px #0e0d1a1f;
	margin-bottom: 10px;
	background-color: white;
}
h1 {
	margin-top: 0;
	padding: 5px 20px 0;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 10px;
}
.otabs {
	padding: 0;
	max-width: 700px;
	width: 100%;
	height: calc(100% - 84px);
	position: absolute;
	top: 84px;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.server .toptionc {
	display: block;
	white-space: nowrap;
	width: 100%;
}
.server .toptionc label {
	text-align: left;
	display: block;
	font-size: 0.75em;
}
.server .toptionc input {
	display: flex;
	width: calc(100% - .7em);
	padding: 0.25em 0.4em;
}
.server div {
	margin: 6px 0;
}
.exp_content {
	background-color: #f1f1f1;
	transition: max-height 0.2s ease-out;
	max-height: 0;
	overflow: hidden;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-top: 0;
	margin-left: 10px;
	width: calc(100% - 17px);
}
.exp_content.active {
	border: 1px solid dodgerblue;
	border-top: 0;
}
.collapsible {
	text-align: left;
	font-size: .8em;
	letter-spacing: unset;
	margin: unset;
	min-height: unset;
	width: calc(100% - 15px);
	margin-left: 10px;
}
.collapsible::after {
	content: '\002B';
	float: right;
}
.collapsible.active::after {
	content: "\2212";
}
.collapsible.active {
	background-color: dodgerblue;
	color: white;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.collapsible:hover {
	background-color: dimgray !important;
}
#wmessage {
	background-color: transparent;
	color: #555;
	text-align: center;
	padding: 10px 20px 30px 20px;
	position: absolute;
	z-index: 1;
	border: 0 solid;
	border-radius: 5px;
	margin: 0 auto;
	bottom: -80px;
	border-top: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0px 0px 0px 1px #20123a0a, 0px 1px 2px 0px #2200330a, 0px 2px 1px -1px #0730721f, 0px 1px 6px 0px #0e0d1a1f;
	left: 0;
	right: 0;
}
#wmessage.show {
	animation-name: bounceInUp;
	animation-duration: 1s;
	animation-fill-mode: both;
	bottom: -20px;
}
@keyframes bounceInUp {
	0%, 60%, 75%, 90%, 100% {
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, 700px, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}
	75% {
		transform: translate3d(0, 5px, 0);
	}
	90% {
		transform: translate3d(0, -5px, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
#wmessage.hide {
	animation-name: slideInDown;
	animation-duration: .5s;
	animation-fill-mode: both;
}
@keyframes slideInDown {
	0% {
		transform: translateY(-70%);
		visibility: visible;
	}
	100% {
		transform: translateY(0);
	}
} 
#toolbar {
    background: gainsboro;
    position: absolute;
    left: 0px;
    right: -2px;
    top: 0;
    margin: 0;
    padding: 0 0 0 1px;
    border-bottom: 1px solid gainsboro;
}
#toolbar button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 5px;
    padding: 0 10px 0 30px;
    position: relative;
    line-height: 25px;
    min-height: 27px;
}
.btnc {
	display: flex;
	flex-flow: row wrap;
}
.btnc .bmarks {
	flex: 1;
}
.btnc fieldset {
	margin-top: 0px;
}
.btnc .sett {
	margin-left: 0;
}
@media all and (max-width: 560px) {
	.btnc .sett {
		width: 100%;
		margin-left: 15px !important;
	}
}