.popupButton {
	text-align: left;
	font: menu;
	background-color: transparent;
	width: 100%;
	min-height: 25px;
	background-repeat: no-repeat;
	padding-left: 40px;
	border: 0;
	background-position-x: 10px;
	margin-top: 5px;
}
.popupButton:hover {
	background-color: #f2f2f2;
}
.popupButton:hover:disabled {
	background-color: unset;
}
.popupButton:active {
	position: relative;
	top: 1px;
	background-color: Highlight;
}
#import {
	background-image: url(import.png);
}
#export {
	background-image: url(export.png);
}
#remove {
	background-image: url(remove.png);
	background-position-x: 6px;
}
#settings {
	background-image: url(settings.png);
	background-position-x: 7px;
}
#popup-content {
	min-width: 120px;
	max-width: 350px;
	width: 350px;
	padding-bottom: 10px;
}
#popupMessage {
	font: menu;
	padding: 10px;
	background: ghostwhite;
}
body {
	margin: 0;
	padding: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal button {
	width: 45%;
	margin-left: 10px;
	margin-top: 20px;
	font-weight: bold;
}
.modal button:hover {
	background-color: blue;
	color: white;
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 350px;
}
.close {
    color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	margin-top: -25px;
	margin-right: -10px;
}
.mtext {
	padding-top: 10px;
	position: relative;
	display: block;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
